layout{
    focus-ring{
        active-gradient from="#006152cc" to="#88402ecc" angle=135
        urgent-color "#ba1a1a"

        }
}
recent-windows {    
    highlight {
        active-color "#f6faf7"
        urgent-color "#ba1a1a"
    }
}
